body {
    margin: 0;
    background-color: lightgray;
}

.top-part {
    position: relative;
    height: 150px;
    background-color: rgb(72, 73, 82)
}

.left-part {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    height: 700px;
}

.right-part {

}

.bottom-part {
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    height: 100px;
    z-index: -1;
}